:root {
    --main-color: #369eaf;
}
.ytp-play-progress.ytp-swatch-background-color{
    background-color: var(--main-color) !important;
}
#notification-count{
    background-color: var(--main-color) !important;
}
